---
import { formatDate } from "@indekos/utilities/date";

import ReportLayout from "~/layouts/report-layout.astro";
import { fetchTenants, getTenantsStats, tenantsQuerySchema } from "../_data";

const params = Astro.locals.parseQuery(
	tenantsQuerySchema.omit({ query: true }),
);

const tenants = await fetchTenants(params);
const tenantsStats = getTenantsStats(tenants);

let subtitle = "Semua penghuni";
if (params.status === "active") subtitle = "Status: Aktif";
else if (params.status === "completed") subtitle = "Status: Selesai";
---

<ReportLayout title="Daftar Penghuni Aktif" subtitle={subtitle}>
	<div class="mb-6 grid grid-cols-3 gap-4">
		<div class="border border-black p-3">
			<div class="mb-1 text-[10px] font-bold tracking-[0.5px] uppercase">
				Total Penghuni
			</div>
			<div class="text-lg font-bold">{tenantsStats[0].value}</div>
		</div>
		<div class="border border-black p-3">
			<div class="mb-1 text-[10px] font-bold tracking-[0.5px] uppercase">
				Sewa Aktif
			</div>
			<div class="text-lg font-bold">{tenantsStats[1].value}</div>
			<div class="mt-0.5 text-[11px]">{tenantsStats[1].desc}</div>
		</div>
		<div class="border border-black p-3">
			<div class="mb-1 text-[10px] font-bold tracking-[0.5px] uppercase">
				Terverifikasi
			</div>
			<div class="text-lg font-bold">{tenantsStats[2].value}</div>
			<div class="mt-0.5 text-[11px]">{tenantsStats[2].desc}</div>
		</div>
	</div>

	<table>
		<thead>
			<tr>
				<th class="w-[5%] text-center">No</th>
				<th class="w-[22%]">Nama Lengkap</th>
				<th class="w-[15%]">No. HP</th>
				<th class="w-[10%]">Kamar</th>
				<th class="w-[15%]">Awal Sewa</th>
				<th class="w-[15%]">Akhir Sewa</th>
				<th class="w-[10%]">Status</th>
			</tr>
		</thead>
		<tbody>
			{
				tenants.map(
					(
						{ fullName, phoneNumber, roomNumber, startDate, endDate, isActive },
						idx,
					) => (
						<tr>
							<td class="text-center font-mono">{idx + 1}</td>
							<td>{fullName}</td>
							<td class="font-mono">+{phoneNumber}</td>
							<td class="text-center font-mono">{roomNumber}</td>
							<td class="font-mono">{formatDate(startDate)}</td>
							<td class="font-mono">{formatDate(endDate)}</td>
							<td class="text-center">{isActive ? "Aktif" : "Selesai"}</td>
						</tr>
					),
				)
			}
		</tbody>
		<tfoot>
			<tr>
				<td class="border border-black bg-gray-100 p-2 font-bold" colspan="7">
					Total penghuni: {tenants.length}
				</td>
			</tr>
		</tfoot>
	</table>
</ReportLayout>
